{% extends 'admin/baseadmin.html' %}

{% block li %}
{% if user or admin %}
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h1>Admin Panel</h1>

<p><a href="{{ url_for('product.admin_products') }}">Products</a></p>
<p><a href="{{ url_for('user.admin_users') }}">Users</a></p>
<p><a href="{{ url_for('cart.admin_orders') }}">Orders</a></p>

<h1>JSON</h1>
<p><a href="{{ url_for('product.products_json_read') }}">Products Read</a></p>
<p><a href="{{ url_for('product.products_json_write') }}">Products Write</a></p>

<h1>Excel report</h1>
<p><a href="{{ url_for('cart.order_report') }}">Order Report</a></p>

<h1>Order analytics</h1>
<p><a href="{{ url_for('cart.order_analytics') }}">Data Analytics</a></p>
{% endblock %}