{% extends 'base.html' %}

{% block title %}
    О нашем магазине тканей
{% endblock %}

{% block mainwrapper %}
    <div id="main-wrapper">
        <div class="container">
            <main id="main">


                <h1 class="page-title">О нас</h1>
                <div id="content-wrapper">
                    <div id="page-content">
                        <div class="region region-content">
                            <div id="block-system-main" class="block block-system">


                                <div class="block-content">
                                    <article id="node-2314" class="node node-page " about="/about" typeof="foaf:Document">

                                        <span property="dc:title" content="О нас"
                                              class="rdf-meta element-hidden"></span><span property="sioc:num_replies"
                                                                                           content="0"
                                                                                           datatype="xsd:integer"
                                                                                           class="rdf-meta element-hidden"></span>

                                        <div class="node-content clearfix">
                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even" property="content:encoded">
                                                        <div class="grid grid-cols-xl-2 grid-g-1 grid-g-xl-2">
                                                            <div>
                                                                <p>Добро пожаловать в наш оптовый магазин тканей, где мы
                                                                    предлагаем обширный выбор премиум тканей по
                                                                    конкурентоспособным ценам. Наша цель - обеспечить вас
                                                                    высококачественными тканями для ваших бизнес-проектов
                                                                    или личных проектов. Начните свои покупки прямо сейчас и
                                                                    воспользуйтесь нашим оптовым ценообразованием!</p>

                                                                <p>В нашем оптовом магазине тканей мы понимаем важность
                                                                    качества и доступности. Именно поэтому мы усердно
                                                                    работаем, чтобы искать лучшие ткани из разных уголков
                                                                    мира по наилучшим ценам. Наше разнообразие включает в
                                                                    себя широкий выбор тканей - от хлопков до шелков, от
                                                                    льна до шерсти, в разных цветах и узорах.</p>

                                                                <p>Мы также предлагаем широкий ассортимент аксессуаров и
                                                                    фурнитуры для завершения ваших швейных и творческих
                                                                    проектов, включая молнии, пуговицы, нитки и многое
                                                                    другое. Наш компетентный персонал всегда готов ответить
                                                                    на ваши вопросы и помочь с выбором тканей и идеями
                                                                    проектов. Посетите нас сегодня и откройте для себя
                                                                    безграничные возможности нашей оптовой коллекции
                                                                    тканей!</p>
                                                            </div>

                                                            <div><img alt="магазин тканей"
                                                                      src="../../static/sites/default/files/about.jpg"/></div>
                                                        </div>

                                                        <p>&nbsp;</p>

                                                        <p>Перед отправкой заказа менеджер тщательно проверяет артикул,
                                                            ткань изучается на предмет отсутствия брака и точное
                                                            соответствие метражу. Бережная упаковка исключает риск
                                                            повреждения материи во время перевозки.</p>

                                                        <p>Для наших покупателей осуществляется доставка по Беларуси,
                                                            реализована программа лояльности со скидочными картами.
                                                            Регулярно проводятся сезонные распродажи тканей по невероятным
                                                            ценам!</p>

                                                        <p>Будем рады видеть вас среди покупателей в сети магазинов
                                                            «Sewisto» и признательны за отзыв о нашей работе!</p>

                                                        <div class="grid grid-cols-xl-2 grid-g-1 grid-g-xl-2">
                                                            <div><img alt="ассортимент тканей"
                                                                      src="sites/default/files/prodaja-tkani.jpg"/></div>

                                                            <div><img alt="ассортимент тканей"
                                                                      src="sites/default/files/catalog-tkani.jpg"/></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </article>
                                </div>

                            </div> <!-- /.block -->
                        </div>
                        <!-- /.region -->
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

