{% extends 'base.html' %}

{% block title %}
    Контакты магазина тканей в Минске Sewisto
{% endblock %}

{% block mainwrapper %}
    <div id="main-wrapper">
        <div class="container">
            <main id="main">


                <h1 class="page-title">Контакты</h1>
                <div id="content-wrapper">
                    <div id="page-content">
                        <div class="region region-content">
                            <div id="block-system-main" class="block block-system">


                                <div class="block-content">
                                    <article id="node-2313" class="node node-page " about="/contacts"
                                             typeof="foaf:Document">

                                        <span property="dc:title" content="Контакты" class="rdf-meta element-hidden"></span><span
                                            property="sioc:num_replies" content="0" datatype="xsd:integer"
                                            class="rdf-meta element-hidden"></span>

                                        <div class="node-content clearfix">
                                        </div>


                                    </article>
                                </div>

                            </div> <!-- /.block -->
                            <div id="block-views-stores-block-1" class="block block-views">


                                <div class="block-content">
                                    <div class="view view-stores view-id-stores view-display-id-block_1 view-dom-id-191af71c1bde1625c4973143e870c22e">


                                        <div class="view-content">
                                            <div class="store-list grid grid-cols-lg-3 grid-g-2">
                                                <div class="store-list-item">

                                                    <h6 class="store-list-item__name"><a
                                                            href="magazin-tkani-v-tc-stolica.html" class="store__link">Магазин
                                                        «Ткани»</a></h6>
                                                    <div class="store-list-item__working-hours">
                                                        <div class="item-list">
                                                            <ul>
                                                                <li class="first">Пн-Пт: 10:00-20:00</li>
                                                                <li>Суббота: 10:00-18:00</li>
                                                                <li class="last">Воскресенье – выходной</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="store-list-item__address">г. Минск, ТЦ «Столица», верхний
                                                        уровень, пом. 117
                                                    </div>
                                                    <div class="store-list-item__phone">+375 25 903-82-89</div>
                                                </div>
                                                <div class="store-list-item">

                                                    <h6 class="store-list-item__name"><a
                                                            href="../../static/magazin-tkani-na-pr-rokossovskogo.html"
                                                            class="store__link">Магазин «Ткани»</a></h6>
                                                    <div class="store-list-item__working-hours">
                                                        <div class="item-list">
                                                            <ul>
                                                                <li class="first">Пн-Пт: 10:00-20:00</li>
                                                                <li>Суббота: 10:00-18:00</li>
                                                                <li class="last">Воскресенье – выходной</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="store-list-item__address">г. Минск, пр-т Рокоссовского, 78
                                                    </div>
                                                    <div class="store-list-item__phone">+375 44 512-67-66</div>
                                                </div>
                                                <div class="store-list-item">

                                                    <h6 class="store-list-item__name"><a href="opt-i-melkiy-opt.html"
                                                                                         class="store__link">Опт и мелкий
                                                        опт</a></h6>
                                                    <div class="store-list-item__working-hours">
                                                        <div class="item-list">
                                                            <ul>
                                                                <li class="first">Пн-Пт: 10:00-18:00</li>
                                                                <li>Суббота: 10:00-18:00</li>
                                                                <li class="last">Воскресенье – выходной</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="store-list-item__address">от 10 м</div>
                                                    <div class="store-list-item__phone">+375 29 684-84-30</div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div> <!-- /.block -->
                            <div id="block-webform-client-block-2395" class="block block-webform">

                                <div class="block-title">Отправить сообщение</div>

                                <div class="block-content">
                                    <form class="webform-client-form webform-client-form-2395"
                                          action="https://megatkani.by/contacts" method="post" id="webform-client-form-2395"
                                          accept-charset="UTF-8">
                                        <div>
                                            <div class="webform-progressbar">


                                            </div>
                                            <div class="form-item webform-component webform-component-textfield webform-component--contact-form-name">
                                                <label for="edit-submitted-contact-form-name">Ваше имя <span
                                                        class="form-required"
                                                        title="Это поле обязательно для заполнения.">*</span></label>
                                                <input required="required" type="text" id="edit-submitted-contact-form-name"
                                                       name="submitted[contact_form_name]" value="" size="60"
                                                       maxlength="128" class="form-text required"/>
                                            </div>
                                            <div class="form-item webform-component webform-component-email webform-component--contact-form-email">
                                                <label for="edit-submitted-contact-form-email">E-mail <span
                                                        class="form-required"
                                                        title="Это поле обязательно для заполнения.">*</span></label>
                                                <input required="required" class="email form-text form-email required"
                                                       type="email" id="edit-submitted-contact-form-email"
                                                       name="submitted[contact_form_email]" size="60"/>
                                            </div>
                                            <div class="form-item webform-component webform-component-textarea webform-component--contact-form-message">
                                                <label for="edit-submitted-contact-form-message">Сообщение <span
                                                        class="form-required"
                                                        title="Это поле обязательно для заполнения.">*</span></label>
                                                <div class="form-textarea-wrapper"><textarea required="required"
                                                                                             id="edit-submitted-contact-form-message"
                                                                                             name="submitted[contact_form_message]"
                                                                                             cols="60" rows="10"
                                                                                             class="form-textarea required"></textarea>
                                                </div>
                                            </div>
                                            <input type="hidden" name="details[sid]"/>
                                            <input type="hidden" name="details[page_num]" value="1"/>
                                            <input type="hidden" name="details[page_count]" value="1"/>
                                            <input type="hidden" name="details[finished]" value="0"/>
                                            <input type="hidden" name="form_build_id"
                                                   value="form-_N_Dl-9Qu9_ArGoWnHSZ3yDEuYZT-8gQzk6vnrFFIDM"/>
                                            <input type="hidden" name="form_id" value="webform_client_form_2395"/>
                                            <input type="hidden" name="honeypot_time"
                                                   value="1677745309|40LetzLeoSr845h2XZC8In1tZuV_i8rFDToIo_54N_Y"/>
                                            <div class="url-textfield">
                                                <div class="form-item form-type-textfield form-item-url">
                                                    <label for="edit-url">Leave this field blank </label>
                                                    <input autocomplete="off" type="text" id="edit-url" name="url" value=""
                                                           size="20" maxlength="128" class="form-text"/>
                                                </div>
                                            </div>
                                            <div class="form-actions"><input
                                                    class="webform-submit button-primary form-submit" type="submit"
                                                    value="Отправить" name="op"/></div>
                                        </div>
                                    </form>
                                </div>

                            </div> <!-- /.block -->
                        </div>
                        <!-- /.region -->
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
