{% extends 'base.html' %}

{% block title %}
    Доставка и оплата тканей
{% endblock %}

{% block mainwrapper %}
    <div id="main-wrapper">
        <div class="container">
            <main id="main">


                <h1 class="page-title">Заказ, доставка и оплата</h1>
                <div id="content-wrapper">
                    <div id="page-content">
                        <div class="region region-content">
                            <div id="block-system-main" class="block block-system">


                                <div class="block-content">
                                    <article id="node-2093" class="node node-page " about="/delivery"
                                             typeof="foaf:Document">

                                        <span property="dc:title" content="Заказ, доставка и оплата"
                                              class="rdf-meta element-hidden"></span><span property="sioc:num_replies"
                                                                                           content="0"
                                                                                           datatype="xsd:integer"
                                                                                           class="rdf-meta element-hidden"></span>

                                        <div class="node-content clearfix">
                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even" property="content:encoded"><h4>Как
                                                        заказать</h4>
                                                        <p>Заказать товар можно через кнопку добавить в корзину, товар
                                                            попадает в корзину, в комментариях нужно указать
                                                            количество.<strong> Важно! Ткани отрезаем от 10 см!</strong> Так
                                                            же можно оформить заказ через вайбер 8 044 512 67 66. Все товары
                                                            на страницах нашего сайта есть в наличии. Если Вы не совсем
                                                            уверены в выборе, то наши специалисты могут отправить видео или
                                                            образцы по почте. Для данной услуги нужно связаться по вайберу 8
                                                            044 512 67 66. Все заказы принятые после рабочего времени
                                                            обрабатываются на следуюший рабочий день.</p>
                                                        <h4>Доставка</h4>
                                                        <p>Доставка по Беларуси осуществляется ведущими службами
                                                            экспресс-доставки:</p>
                                                        <table>
                                                            <thead>
                                                            <tr>
                                                                <th>Служба</th>
                                                                <th>Область</th>
                                                                <th>Стоимость</th>
                                                                <th>Сроки</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>Экспресс доставка</td>
                                                                <td>Минск</td>
                                                                <td>8.20 руб. <strong>При заказе от 200 рублей доставка
                                                                    бесплатна</strong>.
                                                                </td>
                                                                <td>1 день.</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Автолайт экспресс</td>
                                                                <td>Беларусь</td>
                                                                <td>6-12 руб.</td>
                                                                <td>На следующий день при заказе до 16:00.</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Европочта</td>
                                                                <td>Беларусь</td>
                                                                <td>Посылка весом от 1-2 кг, до отделения в вашем городе -
                                                                    3.59 руб. <strong>При заказе от 70 рублей&nbsp; и
                                                                        предоплате доставка бесплатна</strong>.
                                                                </td>
                                                                <td>2-4 дней по РБ</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Почта РБ</td>
                                                                <td>Беларусь</td>
                                                                <td>От 5.10 до 10 рублей, в зависимости от веса посылки.
                                                                </td>
                                                                <td>3-6 дней.</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <p>&nbsp;</p>
                                                        <h4>Самовывоз</h4>
                                                        <p>Вы можете самостоятельно забрать ваш заказ по адресу: г. Минск,
                                                            пр-т Рокоссовского, 78, магазин «Ткани»</p>
                                                        <p>&nbsp;</p>
                                                        <h4>Оплата</h4>
                                                        <p>Оплата может производиться:</p>
                                                        <ul>
                                                            <li>Банковской картой онлайн. После нажатия кнопки «Оформить
                                                                заказ» вы перейдете на специальную защищенную платежную
                                                                страницу процессинговой системы <a
                                                                        href="https://bepaid.by/">bePaid</a>. На платежной
                                                                странице будет указан номер заказа и сумма платежа. Для
                                                                оплаты вам необходимо ввести свои карточные данные и
                                                                подтвердить платеж, нажав кнопку «Оплатить». Если ваша карта
                                                                поддерживает технологию 3-D Secure, системой ваш будет
                                                                предложено пройти стандартную одноминутную процедуру
                                                                проверки владельца карты на странице вашего банка (банка,
                                                                который выдал вашу карту). После оплаты наш менеджер
                                                                свяжется с вами для уточнения деталей по доставке. Обращаем
                                                                ваше внимание, что после проведения платежа на указанный
                                                                вами электронный адрес придет подтверждение оплаты. Просим
                                                                вас сохранять данные оплат. Мы принимаем платежи по
                                                                следующим банковским картам: Visa, Visa Electron,
                                                                MasterCard, Maestro, Белкарт. Платежная страница системы
                                                                bePaid отвечает всем требованиям безопасности передачи
                                                                данных (PCI DSS Level 1). Все конфиденциальные данные
                                                                хранятся в зашифрованном виде и максимально устойчивы к
                                                                взлому. Доступ к авторизационным страницам осуществляется с
                                                                использованием протокола, обеспечивающего безопасную
                                                                передачу данных в Интернетe (SSL/TLS).
                                                            </li>
                                                            <li>Наличными.</li>
                                                            <li>Банковской картой в магазине или курьеру службы доставки.
                                                            </li>
                                                            <li>Наложенным платежом.</li>
                                                            <li>По предоплате в любом банке через терминал или интернет
                                                                банкинг через систему E-POS.
                                                            </li>
                                                        </ul>
                                                        <h4>Важно:</h4>
                                                        <p>Оплата через систему E-POS только после подтверждения заказа.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </article>
                                </div>

                            </div> <!-- /.block -->
                        </div>
                        <!-- /.region -->
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
