{% extends 'base.html' %}

{% block title %}
Доставка и оплата тканей
{% endblock %}

{% block mainwrapper %}
<div id="main-wrapper">
    <div class="container">
        <main id="main">


            <h1 class="page-title">Заказ, доставка и оплата</h1>
            <div id="content-wrapper">
                <div id="page-content">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="block-content">
                                <article id="node-2093" class="node node-page " about="/delivery"
                                         typeof="foaf:Document">

                                        <span property="dc:title" content="Заказ, доставка и оплата"
                                              class="rdf-meta element-hidden"></span><span property="sioc:num_replies"
                                                                                           content="0"
                                                                                           datatype="xsd:integer"
                                                                                           class="rdf-meta element-hidden"></span>

                                    <div class="node-content clearfix">
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even" property="content:encoded"><h4>Как
                                                    заказать</h4>
                                                    <p>
                                                        1. Выбор товара Первым шагом для оформления заказа является
                                                        выбор необходимых товаров. Для этого необходимо перейти в
                                                        каталог продукции нашего сайта и выбрать нужную ткань.
                                                    </p>
                                                    <p>
                                                        2. Добавление товара в корзину После выбора товара необходимо
                                                        добавить его в корзину. Для этого нажмите на кнопку "Добавить в
                                                        корзину". Вы можете продолжить покупки и добавлять новые товары,
                                                        или перейти к оформлению заказа.
                                                    </p>
                                                    <p>
                                                        3. Оформление заказа После того, как вы добавили необходимые
                                                        товары в корзину, перейдите в нее и убедитесь, что все выбранные
                                                        товары там содержатся. Затем, нажмите на кнопку "Оформить
                                                        заказ". Далее заполните необходимые поля: ваше ФИО, адрес
                                                        доставки, контактный телефон и электронную почту.
                                                    </p>
                                                    <p>
                                                        4. Выбор способа доставки и оплаты После заполнения формы
                                                        заказа, выберите удобный для вас способ доставки и оплаты. Мы
                                                        предлагаем несколько вариантов доставки, включая доставку
                                                        курьером, почтой, а также самовывоз из нашего магазина. По
                                                        вопросам оплаты, вы можете воспользоваться банковской картой,
                                                        электронными деньгами или оплатить при получении товара.
                                                    </p>
                                                    <p>
                                                        5. Подтверждение заказа После выбора способа доставки и оплаты,
                                                        проверьте все данные, указанные в заказе. Если все информация
                                                        верна, нажмите кнопку "Подтвердить заказ". Наш менеджер свяжется
                                                        с вами для подтверждения деталей заказа и уточнения даты и
                                                        времени доставки.
                                                    </p>
                                                    <h4>Доставка</h4>
                                                    <p>Мы доставляем товары по всей России и странам СНГ. Мы
                                                        сотрудничаем с надежными транспортными компаниями, которые
                                                        гарантируют быструю и безопасную доставку нашей продукции.
                                                        Стоимость доставки определяется в зависимости от веса и
                                                        габаритов заказа, а также от удаленности вашего региона. Мы
                                                        всегда стараемся предоставить самые выгодные условия доставки
                                                        для наших клиентов. Обычно, доставка занимает от 3 до 10 дней в
                                                        зависимости от вашего местоположения. После отправки заказа, мы
                                                        предоставляем вам трек-код, чтобы вы могли отслеживать статус
                                                        своего заказа в режиме онлайн.</p>
                                                    <h4>Самовывоз</h4>
                                                    <p>Вы можете самостоятельно забрать ваш заказ по адресу: г. Минск,
                                                        пр-т Дзержинского, 78</p>
                                                    <h4>Оплата</h4>
                                                    <p>Мы принимаем оплату банковскими картами, электронными
                                                        платежными системами и безналичным расчетом. Наши
                                                        специалисты всегда готовы проконсультировать вас по
                                                        наилучшему варианту оплаты, учитывая вашу специфику и
                                                        предпочтения. Мы гарантируем полную безопасность и
                                                        конфиденциальность всех ваших платежных данных.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </article>
                            </div>

                        </div> <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
