<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="../static/sites/all/themes/sewisto/images/favicon.svg"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet"
          href="../static/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css"/>
    <link rel="stylesheet"
          href="../static/sites/default/files/css/css_KLHzfgT3tG7aFi4bgphSeiURLm5eKt4r0LmUBOnuM3k.css"/>
    <link rel="stylesheet"
          href="../static/sites/default/files/css/css_PGbJgHCUCBf4dg7K9Kt8aAwsApndP4GZ9RuToPy3-Fk.css"/>
    <link rel="stylesheet"
          href="../static/sites/default/files/css/css_ybDiaj0oC_7ly3b2ZKJSOSNz7pZvYRo5IsRZgg1WFyA.css"/>
</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-2314 node-type-page">
<header id="header">
    <div id="header-first">
        <div id="header-first-inner" class="container">
            <div class="region region-header-first">

                <div id="block-block-13" class="block block-block">


                    <div class="block-content">
                        <ul class="social">
                            <li class="social__item">
                                <a href="https://www.instagram.com/medfusian" target="_blank"
                                   class="social__icon social__icon--instagram"></a>
                            </li>
                            <li class="social__item">
                                <a href="https://vk.com/medfusian" target="_blank"
                                   class="social__icon social__icon--vk"></a>
                            </li>
                        </ul>
                    </div>

                </div> <!-- /.block -->


                <div id="block-views-exp-search-page" class="block block-views">
                    <div class="block-content">
                        <form action="https://megatkani.by/search-results" method="get"
                              id="views-exposed-form-search-page" accept-charset="UTF-8">
                            <div>
                                <div class="views-exposed-form">
                                    <div class="views-exposed-widgets clearfix">
                                        <div id="edit-keys-wrapper"
                                             class="views-exposed-widget views-widget-filter-keys">
                                            <div class="views-widget">
                                                <div class="form-item form-type-textfield form-item-keys">
                                                    <input title="Введите ключевые слова для поиска." type="text"
                                                           id="edit-keys" name="keys" value="" size="15" maxlength="128"
                                                           class="form-text required error"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-exposed-widget views-submit-button">
                                            <input type="submit" id="edit-submit-search" value="Поиск"
                                                   class="form-submit"/></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div> <!-- /.block -->
                <div id="block-block-32" class="block block-block block-action-icons">


                    <div class="block-content">
                        <div class="action-icons">
                            <button id="search-icon"></button>
                            <button id="menu-icon"><span></span><span></span><span></span></button>
                        </div>
                    </div>

                </div> <!-- /.block -->
            </div>
            <!-- /.region -->
        </div>
    </div>
    {% include 'navbar.html' %}
</header>

{% block video %}{% endblock %}
{% block highlighted %}{% endblock %}

{% block mainwrapper %}{% endblock %}

{% block featured %}{% endblock %}

<footer id="footer">
    <div class="container">
        <div class="region region-footer-first">
            <div id="block-block-10" class="block block-block">


                <div class="block-content">
                    Адрес магазина: г. Минск, пр-т Дзержинского, 78 <br/>
                    Адрес импортера: г. Минск, пр-т Рокоссовского, 58к1, 267
                </div>


            </div> <!-- /.block -->
            <div id="block-block-16" class="block block-menu">


            </div> <!-- /.block -->

        </div>
        <!-- /.region -->

        <div id="block-block-15" class="block block-block">
            <div class="block-content">
                <ul class="social">
                    <li class="social__item">
                        <a href="https://www.instagram.com/medfusian" target="_blank"
                           class="social__icon social__icon--instagram"></a>
                    </li>
                    <li class="social__item">
                        <a href="https://vk.com/medfusian" target="_blank"
                           class="social__icon social__icon--vk"></a>
                    </li>
                </ul>
            </div>
        </div> <!-- /.block -->

        <div class="region region-footer-second">
            <div id="block-block-25" class="block block-block">



            </div> <!-- /.block -->
            <div id="block-block-28" class="block block-block">
            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
</footer>

<div id="overlay"></div>

<div id="mobile-panel">
    <div class="region region-mobile-panel">
        <div id="block-block-14" class="block block-block icons-block">


            <div class="block-content">
                <a href="https://www.instagram.com/medfusian" target="_blank" class="social-icon instagram"></a>
            </div> <!-- /.block -->
            <div id="block-block-21" class="block block-block">


                <div class="block-content">
                    <a href="tel:+375295267514" class="phone">+375 29 526 75 14</a></div>

            </div> <!-- /.block -->
            <div id="block-multiblock-1" class="block block-multiblock block-system block-system-main-menu-instance">

                {% include 'navbar.html' %}

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>

</body>

</html>