{% extends 'base.html' %}

{% block title %}
Каталог тканей
{% endblock %}

{% block mainwrapper %}
<div id="main-wrapper">
    <div class="container">
        <main id="main">


            <h1 class="page-title">Каталог тканей</h1>
            <div id="content-wrapper">
                <div id="page-content">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="block-content">
                                <div class="view view-catalog-main view-id-catalog_main view-display-id-page_1 view-dom-id-0711da316e832b7c73a72ab5997374fc">


                                    <div class="view-content">
                                        <div class="product-list grid grid-cols-2 grid-cols-md-3 grid-cols-lg-4 grid-cols-xl-5 grid-g-1 grid-g-xl-2">

                                            {% for product in products %}

                                            <div class="product-list-item">

                                                <div class="product-list-item__image"><a
                                                        href=""><img typeof="foaf:Image"
                                                                     src="{{ url_for('product.get_image', product_id=product[0]) }}"
                                                                     alt="{{ product[1] }}"></a></div>
                                                <div class="product-list-item__title"><a
                                                        href="">{{ product[1] }}</a></div>
                                                Цена: <span class="product-list-item__price">{{ product[2] }}$</span>
                                                <div class="product-list-item__add-to-cart">
                                                <form class="commerce-add-to-cart commerce-cart-add-to-cart-form-3310"
                                                      action="/add_to_cart/{{ product[0] }}"
                                                      method="post"
                                                      id="commerce-cart-add-to-cart-form-3310" accept-charset="UTF-8">
                                                        <input type="submit" id="edit-submit" value="В корзину"
                                                               class="form-submit"/>
                                                </form>
                                            </div>
                                            </div>


                                            {% endfor %}

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div> <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
