{% extends 'base.html' %}

{% block title %}
    Каталог тканей
{% endblock %}

{% block mainwrapper %}
    <div id="main-wrapper">
        <div class="container">
            <main id="main">


                <h1 class="page-title">Каталог тканей</h1>
                <div id="content-wrapper">
                    <div id="page-content">
                        <div class="region region-content">
                            <div id="block-system-main" class="block block-system">


                                <div class="block-content">
                                    <div class="view view-catalog-main view-id-catalog_main view-display-id-page_1 view-dom-id-0711da316e832b7c73a72ab5997374fc">


                                        <div class="view-content">
                                            <div class="product-list grid grid-cols-2 grid-cols-md-3 grid-cols-lg-4 grid-cols-xl-5 grid-g-1 grid-g-xl-2">
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/armani-shelk.html"><img typeof="foaf:Image"
                                                                                                            src="../static/sites/default/files/styles/thumbnail/public/armani-shelk-396102961c9e4.jpg?itok=mjTrBdsd"
                                                                                                            width="250" height="250"
                                                                                                            alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/armani-shelk.html">Армани шелк</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/atlas.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/atlas-3756928287be7.jpg?itok=WRE43oXO"
                                                            width="250" height="250" alt="Атлас"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/atlas.html">Атлас</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/barbi.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/barbi-17739215666383.jpg?itok=2LWn5Jg7"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/barbi.html">Барби</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/barhat.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/barhat-10433322777973.jpg?itok=g3aMxk62"
                                                            width="250" height="250" alt="Бархат"/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/barhat.html">Бархат</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/bifleks.html"><img typeof="foaf:Image"
                                                                                                       src="../static/sites/default/files/styles/thumbnail/public/bifleks-118816460992ee.jpg?itok=69gljrod"
                                                                                                       width="250" height="250"
                                                                                                       alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/bifleks.html">Бифлекс</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/velvet.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/velvet-24690899430d3.jpg?itok=WZ58cyuj"
                                                            width="250" height="250" alt="Вельвет"/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/velvet.html">Вельвет</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/viskoza.html"><img typeof="foaf:Image"
                                                                                                       src="../static/sites/default/files/styles/thumbnail/public/animalistichnyy-print-135699709315d7.jpg?itok=OU2JFSMn"
                                                                                                       width="250" height="250"
                                                                                                       alt="Вискоза"/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/viskoza.html">Вискоза</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/gipyur.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/gipyur-14514900346711.jpg?itok=807CQyYL"
                                                            width="250" height="250" alt="Гипюр"/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/gipyur.html">Гипюр</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/gologramma.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/gologramma-11404317456416.jpg?itok=4IR1_asN"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/gologramma.html">Голограмма</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/dzhins.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/dzhins-682816121afc9.jpg?itok=zStY-CE0"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/dzhins.html">Джинс</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/zhakkard.html"><img typeof="foaf:Image"
                                                                                                        src="../static/sites/default/files/styles/thumbnail/public/zhakkard-parcha-1370936619264.jpg?itok=7VZiz9lZ"
                                                                                                        width="250" height="250"
                                                                                                        alt="Жаккард"/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/zhakkard.html">Жаккард</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/zamsha.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/zamsha-20720376499b1c.jpg?itok=qYObm8QN"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/zamsha.html">Замша</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/kozha.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/kozha-16199991691f8f.jpg?itok=w0eBkb78"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/kozha.html">Кожа</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/kostyumnye-teplye.html"><img typeof="foaf:Image"
                                                                                                                 src="../static/sites/default/files/styles/thumbnail/public/kostyumnye-teplye-tkani-825537755de13.jpg?itok=NsEW7W4q"
                                                                                                                 width="250"
                                                                                                                 height="250" alt=""/></a>
                                                    </div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/kostyumnye-teplye.html">Костюмные теплые ткани</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/kristall-trikotazh.html"><img typeof="foaf:Image"
                                                                                                                  src="../static/sites/default/files/styles/thumbnail/public/kristall-trikotazh-102194447006db.jpg?itok=v147iDfB"
                                                                                                                  width="250"
                                                                                                                  height="250"
                                                                                                                  alt="Кристалл трикотаж"/></a>
                                                    </div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/kristall-trikotazh.html">Кристалл трикотаж</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/len.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/len-10504389196fa6.jpg?itok=3Qp5vXSN"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/len.html">Лен</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/loskut-mernyy.html"><img typeof="foaf:Image"
                                                                                                             src="../static/sites/default/files/styles/thumbnail/public/loskut-mernyy-32056220885d2.jpg?itok=Eowkdtir"
                                                                                                             width="250" height="250"
                                                                                                             alt="Лоскут мерный"/></a>
                                                    </div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/loskut-mernyy.html">Лоскут мерный</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/lyureks-blesk.html"><img typeof="foaf:Image"
                                                                                                             src="../static/sites/default/files/styles/thumbnail/public/lyureks-blesk-1742888482f304.jpg?itok=Cajz2AgD"
                                                                                                             width="250" height="250"
                                                                                                             alt="Люрекс (блеск)"/></a>
                                                    </div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/lyureks-blesk.html">Люрекс (блеск)</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/meh-dublenki.html"><img typeof="foaf:Image"
                                                                                                            src="../static/sites/default/files/styles/thumbnail/public/meh-dublenki-1689576541c8f7.jpg?itok=2TzSA1WK"
                                                                                                            width="250" height="250"
                                                                                                            alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/meh-dublenki.html">Мех, дубленки</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/shifon-organza.html"><img typeof="foaf:Image"
                                                                                                              src="../static/sites/default/files/styles/thumbnail/public/organza-16896473625955.jpg?itok=oyxzinFg"
                                                                                                              width="250" height="250"
                                                                                                              alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/shifon-organza.html">Органза</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/payetki.html"><img typeof="foaf:Image"
                                                                                                       src="../static/sites/default/files/styles/thumbnail/public/payetki-693506365400f.jpg?itok=lODoOnZ2"
                                                                                                       width="250" height="250"
                                                                                                       alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/payetki.html">Пайетки</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/paltovye-tkani.html"><img typeof="foaf:Image"
                                                                                                              src="../static/sites/default/files/styles/thumbnail/public/paltovye-tkani-2007230059d1f7.jpg?itok=psh6byef"
                                                                                                              width="250" height="250"
                                                                                                              alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/paltovye-tkani.html">Пальтовые ткани</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/parcha.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/parcha-16578792770486.jpg?itok=6HOm5Knm"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/parcha.html">Парча</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/platelno-kostyumnye-odnotonnye.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/platelno-kostyumnye-odnotonnye-19997172526b15.jpg?itok=mMnut0ai"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/platelno-kostyumnye-odnotonnye.html">Плательно-костюмные
                                                        однотонные</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/platelno-kostyumnye-bluzochnye-s-printom.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/platelno-kostyumnye-bluzochnye-s-printom-18563737183324.jpg?itok=wjLv5yqV"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/platelno-kostyumnye-bluzochnye-s-printom.html">Плательно-костюмные,
                                                        блузочные с принтом</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/plashchevka.html"><img typeof="foaf:Image"
                                                                                                           src="../static/sites/default/files/styles/thumbnail/public/plashchevka-1961042765ba85.jpg?itok=fvH_Y6B7"
                                                                                                           width="250" height="250"
                                                                                                           alt="Плащевка"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/plashchevka.html">Плащевка</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/plisse.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/plisse-184023555718e3.jpg?itok=AwtEE0gG"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/plisse.html">Плиссе</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/podkladki.html"><img typeof="foaf:Image"
                                                                                                         src="../static/sites/default/files/styles/thumbnail/public/podkladki-19416514835d15.jpg?itok=bqi8hCz8"
                                                                                                         width="250" height="250"
                                                                                                         alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/podkladki.html">Подкладки</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/ryushi.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/ryushi-13312051326249.jpg?itok=H8VW-zlM"
                                                            width="250" height="250" alt="Рюши"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/ryushi.html">Рюши</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/satin.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/satin-1903388680e4d9.jpg?itok=Q1h0BVJY"
                                                            width="250" height="250" alt="Сатин"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/satin.html">Сатин</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/setka.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/setka-15164889434ae2.jpg?itok=YLJs7lAe"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/setka.html">Сетка</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/supersoft-shelk-armani-s-printom.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/supersoft-shelk-armani-s-printom-423982163d7c4.jpg?itok=2_1cx7KU"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/supersoft-shelk-armani-s-printom.html">Суперсофт,
                                                        шелк армани с принтом</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/tafta.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/tafta-1660540466ec3.jpg?itok=PZBUJivk"
                                                            width="250" height="250" alt="Тафта"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/tafta.html">Тафта</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/tkani-superakciya-do-9-r.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/tkani-do-8-r-566377081ef8f.jpg?itok=KBmYLopl"
                                                            width="250" height="250" alt="Ткани суперакция до 9 р"/></a>
                                                    </div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/tkani-superakciya-do-9-r.html">Ткани суперакция до
                                                        9 р</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/trikotazh.html"><img typeof="foaf:Image"
                                                                                                         src="../static/sites/default/files/styles/thumbnail/public/trikotazh-9662495188dc6.jpg?itok=umDZkefu"
                                                                                                         width="250" height="250"
                                                                                                         alt="Трикотаж"/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/trikotazh.html">Трикотаж</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/fatin.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/fatin-233040545e50e.jpg?itok=FMjeKKDM"
                                                            width="250" height="250" alt="Фатин"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/fatin.html">Фатин</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/flis.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/flis-850929414cd05.jpg?itok=43nQ-kkY"
                                                            width="250" height="250" alt="Флис"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/flis.html">Флис</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/futer.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/futer-1254447619143a.jpg?itok=l9Is2ygR"
                                                            width="250" height="250" alt="Футер"/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/futer.html">Футер</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/hlopok.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/hlopok-184886593809c7.jpg?itok=zzx7elkt"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/hlopok.html">Хлопок</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/shanel.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/shanel-9827003076462.jpg?itok=DfnUQtAx"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/shanel.html">Шанель</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/otdelochnye-materialy.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/shveynaya-furnitura-34005423820cf.jpg?itok=U-xf3Hws"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/otdelochnye-materialy.html">Швейная фурнитура</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/shelk.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/shelk-1931766464f66d.jpg?itok=Fb8PR2CP"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a
                                                            href="../static/catalog/shelk.html">Шелк</a></div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a href="../static/catalog/shifon.html"><img
                                                            typeof="foaf:Image"
                                                            src="../static/sites/default/files/styles/thumbnail/public/shifon-10351715178eb4.jpg?itok=BkO8GMy9"
                                                            width="250" height="250" alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/shifon.html">Шифон</a>
                                                    </div>
                                                </div>
                                                <div class="product-list-item">

                                                    <div class="product-list-item__image"><a
                                                            href="../static/catalog/shtapel.html"><img typeof="foaf:Image"
                                                                                                       src="../static/sites/default/files/styles/thumbnail/public/shtapel-14351348992df4.jpg?itok=UbWGn0Ux"
                                                                                                       width="250" height="250"
                                                                                                       alt=""/></a></div>
                                                    <div class="product-list-item__title"><a href="../static/catalog/shtapel.html">Штапель</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div> <!-- /.block -->
                        </div>
                        <!-- /.region -->
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/sites/default/files/js/js_EPDNC_ZSfzABh2HWCzZfW6FLYt-HNw8g_cS3u_OtyC0.js"></script>
    <script src="../static/sites/default/files/js/js_A5FIZKAzHMFJ0IpOpKmWF3iKiXHuqT0L9XYtpOZSZs8.js"></script>
    <script src="../static/sites/default/files/js/js_iQErYdyuYvo0GYf_EvyGovYROFiZJkGR9OZO4dishOU.js"></script>
    <script src="../static/sites/default/files/js/js_QoQHYQx8p3Q3GdL1IoNzSJ1ZZuxJKipK7Nq0cmr5Vg4.js"></script>
    <script>jQuery.extend(Drupal.settings, {
        "basePath": "\/",
        "pathPrefix": "",
        "setHasJsCookie": 0,
        "ajaxPageState": {
            "theme": "megatkani",
            "theme_token": "1hmhj4QbOsz33pBGH4IihfNu5wm_zetYuBdjHwNwBOE",
            "jquery_version": "1.8",
            "js": {
                "sites\/all\/modules\/jquery_update\/replace\/jquery\/1.8\/jquery.min.js": 1,
                "misc\/jquery-extend-3.4.0.js": 1,
                "misc\/jquery-html-prefilter-3.5.0-backport.js": 1,
                "misc\/jquery.once.js": 1,
                "misc\/drupal.js": 1,
                "misc\/ajax.js": 1,
                "sites\/all\/modules\/jquery_update\/js\/jquery_update.js": 1,
                "misc\/progress.js": 1,
                "sites\/all\/modules\/dc_ajax_add_cart\/js\/dc_ajax_add_cart_html.js": 1,
                "public:\/\/languages\/ru_JC_HOuUPoZwI0-e50sOVqtDiBnRIrBxzP0flyYFtioY.js": 1,
                "sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js": 1,
                "sites\/all\/modules\/colorbox\/js\/colorbox.js": 1,
                "sites\/all\/themes\/megatkani\/js\/jquery.maskedinput.min.js": 1,
                "sites\/all\/themes\/megatkani\/js\/main.js": 1,
                "sites\/all\/themes\/megatkani\/js\/gsap.min.js": 1,
                "sites\/all\/themes\/megatkani\/js\/mobilepanel.js": 1,
                "sites\/all\/themes\/megatkani\/js\/smoothscroll.js": 1
            },
            "css": {
                "modules\/system\/system.base.css": 1,
                "modules\/system\/system.menus.css": 1,
                "modules\/system\/system.messages.css": 1,
                "modules\/system\/system.theme.css": 1,
                "sites\/all\/modules\/dc_ajax_add_cart\/css\/dc_ajax_add_cart.css": 1,
                "modules\/comment\/comment.css": 1,
                "modules\/field\/theme\/field.css": 1,
                "modules\/node\/node.css": 1,
                "modules\/search\/search.css": 1,
                "modules\/user\/user.css": 1,
                "sites\/all\/modules\/youtube\/css\/youtube.css": 1,
                "sites\/all\/modules\/views\/css\/views.css": 1,
                "sites\/all\/modules\/ckeditor\/css\/ckeditor.css": 1,
                "sites\/all\/modules\/ctools\/css\/ctools.css": 1,
                "sites\/all\/themes\/megatkani\/css\/main.css": 1,
                "sites\/all\/themes\/megatkani\/css\/grid.css": 1,
                "sites\/all\/themes\/megatkani\/css\/views.css": 1,
                "sites\/all\/themes\/megatkani\/css\/mobilepanel.css": 1,
                "sites\/all\/themes\/megatkani\/css\/responsive.css": 1
            }
        },
        "colorbox": {
            "opacity": "0.85",
            "current": "{current} of {total}",
            "previous": "\u00ab Prev",
            "next": "Next \u00bb",
            "close": "Close",
            "maxWidth": "98%",
            "maxHeight": "98%",
            "fixed": true,
            "mobiledetect": false,
            "mobiledevicewidth": "480px",
            "file_public_path": "\/sites\/default\/files",
            "specificPagesDefaultValue": "admin*\nimagebrowser*\nimg_assist*\nimce*\nnode\/add\/*\nnode\/*\/edit\nprint\/*\nprintpdf\/*\nsystem\/ajax\nsystem\/ajax\/*"
        },
        "better_exposed_filters": {"views": {"catalog_main": {"displays": {"page_1": {"filters": []}}}}},
        "urlIsAjaxTrusted": {"\/search-results": true}
    });</script>
{% endblock %}