{% extends 'base.html' %}

{% block title %}
Категория {{ products[0][2] }}
{% endblock %}

{% block mainwrapper %}
<div id="main-wrapper">
    <div class="container">
        <main id="main">


            <h1 class="page-title">{{ products[0][2] }}</h1>
            <div id="content-wrapper">
                <div id="page-content">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="block-content">
                                <div class="view view-use view-id-use view-display-id-page view-dom-id-1616f945a3633d196cb692c2b9bed01f">


                                    <div class="view-content">
                                        <div class="product-list grid grid-cols-2 grid-cols-md-3 grid-cols-lg-5 grid-g-2">

                                            {% for product in products %}

                                            <div class="product-list-item">

                                                <div class="product-list-item__image"><a
                                                        href=""><img typeof="foaf:Image"
                                                                     src="{{ url_for('product.get_image', product_id=product[0]) }}"
                                                                     alt="{{ product[1] }}"</a>
                                                </div>
                                                <div class="product-list-item__title"><a
                                                        href="">{{ product[1] }}</a></div>
                                            </div>

                                            {% endfor %}

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div> <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
