{% extends 'base.html' %}

{% block title %}
    Магазин тканей
{% endblock %}

{% block video %}
    <div id="video">
        <div class="region region-video">
            <div id="block-block-33" class="block block-block">


                <div class="block-content">
                    <video autoplay muted loop poster="../static/sites/all/themes/sewisto/images/cloth.jpg">
                        <source src="../static/sites/default/files/video/cloth.mp4" type="video/mp4"/>
                    </video>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
        <div class="region region-video-overlay">
            <div id="block-block-26" class="block block-block">


                <div class="block-content">
                    <div class="site-description"><span>Магазин тканей</span></div>
                    <div class="site-name">Sewisto</div>
                    <div class="site-slogan">
                        Ткани оптом
                    </div>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
{% endblock %}

{% block highlighted %}
    <div id="highlighted">
        <div class="container">
            <div class="region region-highlighted">
                <div id="block-views-stores-block" class="block block-views">

                    <div class="block-title">Наши магазины</div>

                    <div class="block-content">
                        <div class="view view-stores view-id-stores view-display-id-block view-dom-id-337f2ef93f64f3cb62244fd44c1ad1c9">

                            <div class="view-content">
                                <div class="store-list grid grid-cols-lg-3 grid-g-2">
                                    <div class="store-list-item">

                                        <h6 class="store-list-item__name"><a
                                                href="" class="store__link">
                                            «Sewisto»</a></h6>
                                        <div class="store-list-item__working-hours">
                                            <div class="item-list">
                                                <ul>
                                                    <li class="first">Пн-Пт: 10:00-20:00</li>
                                                    <li>Суббота: 10:00-19:00</li>
                                                    <li class="last">Воскресенье – выходной</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="store-list-item__address">г. Минск, ТЦ «Столица»                                                        уровень, пом. 117
                                        </div>
                                        <div class="store-list-item__phone">+375 29 526-75-14</div>
                                    </div>
                                    <div class="store-list-item">

                                        <h6 class="store-list-item__name"><a
                                                href=""
                                                class="store__link">«Sewisto»</a></h6>
                                        <div class="store-list-item__working-hours">
                                            <div class="item-list">
                                                <ul>
                                                    <li class="first">Пн-Пт: 10:00-20:00</li>
                                                    <li>Суббота: 10:00-19:00</li>
                                                    <li class="last">Воскресенье – выходной</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="store-list-item__address">г. Минск, пр-т Дзержинского, 78
                                        </div>
                                        <div class="store-list-item__phone">+375 29 520-59-29</div>
                                    </div>
                                    <div class="store-list-item">

                                        <h6 class="store-list-item__name"><a href=""
                                                                             class="store__link">Опт и мелкий
                                            опт</a></h6>
                                        <div class="store-list-item__working-hours">
                                            <div class="item-list">
                                                <ul>
                                                    <li class="first">Пн-Сб: 10:00-18:00</li>
                                                    <li></li>
                                                    <li class="last">Воскресенье – выходной</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="store-list-item__address">от 100 м</div>
                                        <div class="store-list-item__phone">+375 29 526-75-14</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- /.block -->
            </div>
            <!-- /.region -->
        </div>
    </div>
{% endblock %}

{% block mainwrapper %}
    <div id="main-wrapper">
        <div class="container">
            <main id="main">


                <h1 class="page-title">Магазин тканей</h1>
                <div id="page-content">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="block-content">
                                <article id="node-5" class="node node-page " about="/home" typeof="foaf:Document">

                                    <span property="dc:title" content="Магазин тканей"
                                          class="rdf-meta element-hidden"></span><span property="sioc:num_replies"
                                                                                       content="0" datatype="xsd:integer"
                                                                                       class="rdf-meta element-hidden"></span>

                                    <div class="node-content clearfix">
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even" property="content:encoded"><p>Ноские
                                                    первосортные текстильные изделия получаются только из тканей высокого
                                                    качества. Купить такие можно в нашем интернет-магазине тканей Sewisto.
                                                    Мы поставляем продукцию проверенных производителей, поэтому можем
                                                    гарантировать лучшее качество материалов. Сотрудничаем с оптовыми
                                                    заказчиками, индивидуальными предпринимателями, дизайнерами и любителями
                                                    швейного дела. У нас вы сможете заказать ткань различного состава и
                                                    назначения: от трикотажа до эксклюзивного бархата и шелка.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </article>
                            </div>

                        </div> <!-- /.block -->
                        <div id="block-views-new-block-1" class="block block-views">


                            <div class="block-content">
                                <div class="view view-new view-id-new view-display-id-block_1 view-dom-id-16d29f3a6a0314d9ddb32f894c95d25b">


                                    <div class="view-content">
                                        <div class="product-list grid grid-cols-2 grid-cols-md-3 grid-cols-lg-4 grid-cols-xl-5 grid-g-1 grid-g-xl-2">

                                            {% for product in products[:10] %}

                                            <div class="product-list-item">

                                                <div class="product-list-item__image"><a
                                                        href="">
                                                    <img src="{{ url_for('product.get_image', product_id=product[0]) }}"
                                                         alt="{{ product[1] }}">
                                                </a></div>
                                                <div class="product-list-item__title"><a
                                                        href="">{{ product[1] }}</a></div>
                                                Цена: <span class="product-list-item__price">{{ product[7] }}$</span>
                                                <div class="product-list-item__add-to-cart">
                                                    <form class="commerce-add-to-cart commerce-cart-add-to-cart-form-3310"
                                                          autocomplete="off" action="https://megatkani.by/" method="post"
                                                          id="commerce-cart-add-to-cart-form-3310" accept-charset="UTF-8">
                                                        <div><input type="hidden" name="product_id" value="3310"/>
                                                            <input type="hidden" name="form_build_id"
                                                                   value="form-k_hOxEjU7AEiX3OnNqqcky76hC83RZCvz6n7WNy55GE"/>
                                                            <input type="hidden" name="form_id"
                                                                   value="commerce_cart_add_to_cart_form_3310"/>
                                                            <div id="edit-line-item-fields" class="form-wrapper"></div>
                                                            <input type="hidden" name="quantity" value="1"/>
                                                            <input type="submit" id="edit-submit" value="Добавить в корзину"
                                                                   name="op" class="form-submit"/></div>
                                                    </form>
                                                </div>
                                            </div>

                                            {% endfor %}

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div> <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block featured %}
    <div id="featured">
        <div class="container">
            <div class="region region-featured">
                <div id="block-block-23" class="block block-block text-block">


                    <div class="block-content">
                        <h2>Преимущества работы с нами</h2>
                        <p>В современных условиях весь мир переходит на онлайн-покупки. Безопасный и удобный выбор тканей по
                            виртуальному каталогу, бесконтактная доставка и возможность выбрать удобный способ оплаты — все
                            это плюсы работы с интернет-магазином.</p>
                        <p>Кроме того, Sewisto предлагают:</p>
                        <ul>
                            <li>приобрести ткани оптом, мелким оптом;</li>
                            <li>подберем для вас ткань по фото;</li>
                            <li>удобный поиск на сайте;</li>
                            <li>приемлемые цены на всю продукцию;</li>
                            <li>прямые поставки с фабрик, от производителей тканей;</li>
                            <li>большой ассортимент текстиля, который постоянно пополняется;</li>
                            <li>наличие эксклюзивных роскошных тканей от ведущих торговых марок;</li>
                            <li>оперативная система доставки по всей Беларуси курьерской службой (Автолайт экспресс), почтой
                                или Гипермолл;
                            </li>
                            <li>доставка по Минску;</li>
                            <li>консультация и поддержка персональными менеджерами.</li>
                        </ul>
                        <p>Выбирайте ткани в удобное время суток, оформляйте заказ на сайте. Наш сотрудник свяжется с вами
                            для уточнения деталей. Следите за обновлениями. Наш каталог постоянно пополняется новыми видами
                            тканей и материалов.</p>
                        <p>Стоимость рассчитывается индивидуально на метр продукции.</p>
                        <p>Хотите уточнить информацию о наличии материала или узнать подробнее о его составе и качестве,
                            звоните нам. Контактные телефоны указаны на сайте. Также вы можете оформить заказ на покупку на
                            сайте, указав свои контактные данные.&nbsp;</p>
                    </div>

                </div> <!-- /.block -->
            </div>
            <!-- /.region -->
        </div>
    </div>
{% endblock %}

