<div class="block-content">
    <nav class="navigation">
        <ul class="menu main-menu">
            <li class="first leaf"><a href="/" title="">Главная</a></li>
            <li class="leaf"><a href="/about">О нас</a></li>
            <li class="leaf"><a href="/catalog" title="">Каталог</a>
            </li>
            <li class="leaf"><a href="../static/use.html" title="">Ткани по назначению</a></li>
            <li class="leaf"><a href="../static/delivery.html">Доставка и оплата</a></li>
            <li class="last leaf"><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
</div>