<div id="header-first">
    <div id="header-first-inner" class="container">
        <div class="region region-header-first">

            <div id="block-block-13" class="block block-block">


                <div class="block-content">
                    <ul class="social">
                        <li class="social__item">
                            <a href="https://www.instagram.com/medfusian" target="_blank"
                               class="social__icon social__icon--instagram"></a>
                        </li>
                        <li class="social__item">
                            <a href="https://vk.com/medfusian" target="_blank"
                               class="social__icon social__icon--vk"></a>
                        </li>
                    </ul>
                </div>

            </div> <!-- /.block -->


            <div id="block-views-exp-search-page" class="block block-views">
                <div class="block-content">
                    <form action="{{ url_for('main.search') }}" method="GET"
                          id="views-exposed-form-search-page" accept-charset="UTF-8">
                        <div>
                            <div class="views-exposed-form">
                                <div class="views-exposed-widgets clearfix">
                                    <div id="edit-keys-wrapper"
                                         class="views-exposed-widget views-widget-filter-keys">
                                        <div class="views-widget">
                                            <div class="form-item form-type-textfield form-item-keys">
                                                <input title="Введите ключевые слова для поиска." type="text"
                                                       id="keys" name="keys" value="" size="15" maxlength="128"
                                                       class="form-text required error"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-exposed-widget views-submit-button">
                                        <input type="submit" id="edit-submit-search" value="Поиск"
                                               class="form-submit"/></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div> <!-- /.block -->
            <div id="block-block-32" class="block block-block block-action-icons">


                <div class="block-content">
                    <div class="action-icons">
                        <button id="search-icon"></button>
                        <button id="menu-icon"><span></span><span></span><span></span></button>
                    </div>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
</div>

<div id="header-second">
    <div id="header-second-inner" class="container">
        <div class="region region-header-second-left">
            <div id="block-block-12" class="block block-block">


                <div class="block-content">
                    <a href="/" class="site-logo">Sewisto</a></div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
        <div class="region region-header-second-middle">
            <div id="block-system-main-menu" class="block block-system block-menu">

                <div class="block-content">
                    <nav class="navigation">
                        <ul class="menu main-menu">
                            <li class="first leaf"><a href="/" title="">Главная</a></li>
                            <li class="leaf"><a href="/about">О нас</a></li>
                            <li class="leaf"><a href="/catalog" title="">Каталог</a></li>
                            <li class="leaf"><a href="/category" title="">Категории</a></li>
                            <li class="leaf"><a href="/feedback" title="">Отзывы</a></li>
                            <li class="leaf"><a href="/delivery">Доставка и оплата</a></li>
                            <li class="last leaf"><a href="/contacts">Контакты</a></li>
                        </ul>
                    </nav>
                </div>

            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
        <div class="region region-header-second-right">

            <div id="block-block-29" class="block block-block">

                <div class="block-content">
                    <nav class="navigation">
                        <ul class="menu user-menu">
                            <li>
                                {% if current_user or admin %}
                                {% if admin %}
                                <a href="{{ url_for('admin.admin_panel') }}">Admin panel</a>
                                {% elif user %}
                                <a href="{{ url_for('auth.logout') }}">{{ user }}</a>
                                {% else %}
                                <a href="{{ url_for('auth.logout') }}">{{ current_user }}</a>
                                {% endif %}
                                {% else %}
                                <a href="{{ url_for('auth.login') }}">Войти</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>

            </div> <!-- /.block -->
            <div id="block-dc-ajax-add-cart-ajax-shopping-cart-teaser" class="block block-dc-ajax-add-cart">

                {% if current_user %}
                <div class="block-content">
                    <div class="ajax-shopping-cart-teaser">
                        <div class="cart-empty">
                            <a href="{{ url_for('cart.cart') }}"> Корзина </a>
                            <a>|</a>
                            <a href="{{ url_for('cart.orders') }}"> Заказы </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div> <!-- /.block -->
        </div>
        <!-- /.region -->
    </div>
</div>