{% extends 'base.html' %}

{% block title %}
Заказы
{% endblock %}

{% block mainwrapper %}
<div id="main-wrapper">
    <div class="container">
        <main id="main">


            <h1 class="page-title">Заказы</h1>
            <div id="content-wrapper">
                <div id="page-content">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system">


                            <div class="block-content">
                                <div class="view view-commerce-cart-form view-id-commerce_cart_form view-display-id-default view-dom-id-fb588f452f4d8c71d621c24c660df80a">

                                    <div class="view-content">
                                        <div class="commerce-line-item-views-form">
                                            <form method="POST" enctype="multipart/form-data">
                                                <div>
                                                    <table class="views-table cols-6">
                                                        <thead>
                                                        <tr>
                                                            <th class="views-field views-field-line-item-title"
                                                                scope="col">
                                                                Заказ
                                                            </th>
                                                            <th class="views-field views-field-commerce-unit-price"
                                                                scope="col">
                                                                Дата
                                                            </th>
                                                            <th class="views-field views-field-edit-quantity"
                                                                scope="col">
                                                                Итоговая стоимость
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        {% for order in orders %}

                                                        <tr class="odd views-row-first views-row-last">
                                                            <td class="views-field views-field-line-item-title">
                                                                <a>{{ order[0] }}</a>
                                                            </td>
                                                            <td class="views-field views-field-line-item-title">
                                                                <a>{{ order[1] }}</a>
                                                            <td class="views-field views-field-commerce-total price">
                                                                <a>{{ order[2] }}</a>
                                                            </td>

                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                    <div class="line-item-summary">
                                                        <div class="line-item-total">
                                                                <span
                                                                        class="line-item-total-label">Общая стоимость:
                                                                </span>
                                                            <span
                                                                    class="line-item-total-raw">
                                                                    {{ total_sum }} руб.
                                                                </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div> <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}